// write your CSS in here

/*
Brandon Mackey
MiU Project 1
Term 1210
CSS styles sheet for Web App part 1
Sept. 26, 2012
*/ 

/* -- Background image of yellow notepad --*/ 
body{
    background-image:url("../Mackey_Brandon_Gold_project2/image/notepad_photo.jpg"); 
    background-repeat:repeat-y
}


/* -- Name of App or title "What To Do?" --*/ 
/*h1 {
    font: 40px bold tahoma;
    margin: 0px;
    border: 1px hidden #000;
}
*/

/* -- both Clear Stored Data & Display List links -- */
a{
    margin: 5px 2px;
    padding: 10px;
    /*border: solid red;*/
    
}


/* -- Form Box "Something To Do" text -- */
legend{
    font-size: x-large;
}